node_modules
.env
*.md


node_modules

# Output
.output
.vercel
.netlify
.wrangler
./web/.svelte-kit
/build

.svelte-kit
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

!CHANGELOG.md

*.sh

!build-image.sh
!deploy-use-image.sh
!get-image-version.sh
./nginx



docker-compose.override.v0.1.1.yml
docker-compose.override.yml
/.github/workflows/build-and-deploy.yml